/*! Media query S !*/
@media screen and (min-width: 20px) {
    #btn-header {
        display: none;
    }
}
@media screen and (min-width: 250px) {
    #btn-header {
        display: none;
    }
}
@media screen and (min-width: 251px) {
    #btn-header {
        display: block;
    }
}

@media screen and (min-width: 576px) {
    .col-nav-s {
        width: 200px;
    }
    .home-page-s {
        flex-basis: calc(100% - 200px);
    }
    .top-bar-s {
        width: calc(100% - 200px);
    }

    .row-nav-bar-s {
        align-items: flex-start;
    }
    .row-nav-bar-s .text-icon-s, .row-nav-bar-s a{
        display: inline;
    }

    .row-nav-bar-s img {
        height: 26px;
        width: 26px;
        vertical-align: middle;

    }
    .row-nav-bar-s li {
        list-style-type: none;
    }

    .row-nav-bar-s a {
        text-decoration: none;
        color: #d2d2d2;
        font-size: 12px;
        font-weight: 600;
        line-height: 30px;
        margin-left: 20px;    
    }

    .row-nav-bar-s .logo-s {
        display: inline-block;
        width: 100%;
        height: 40px;
        margin-top: 6px;
        position: relative;
        left: -32px;
    }
 
    .row-nav-bar-s .logo-small-s {
        display: none;
    }

    .row-nav-bar-s .playlist-section.playlist-section-min, hr{
        display: block;
    } 
     
}

@media screen and (min-height: 250px) {
    .bottom-nav  {
        display: none;
    }
}
@media screen and (min-height: 350px) {
    .bottom-nav  {
        display: block;
    }
    .playlist-section.playlist-section-min {
        display: none;
    }
    .row-nav-bar-s .logo-s {
        position: relative;
        left: -12px;
    }
}
@media screen and (min-height: 450px) {
    .playlist-section.playlist-section-min {
        display: block;
    }
    .playlist-section.playlist-section-min .playlist-name {
        display: none;
    }
}
@media screen and (min-height: 600px) {
    .playlist-section.playlist-section-min .playlist-name {
        display: block;
        height: 150px;
    }
}
@media screen and (min-height: 700px) {
    .playlist-section.playlist-section-min .playlist-name {
        height: 200px;
    }
}
@media screen and (min-height: 700px) {
    .playlist-section.playlist-section-min .playlist-name {
        height: 200px;
    }
}
@media screen and (min-height: 810px) {
    .playlist-section.playlist-section-min .playlist-name {
        height: 350px;
    }
}









