/*! Media query S !*/
@media screen and (min-width: 576px) {
    .col-nav-s {
        max-width: 180px;

    }

    .home-page-s {
        max-width: calc(100vw - 180px);
    }

    .top-bar-s {
        max-width: calc(100vw - 180px);
    } 
    
   
    .logo-s {
        display: block; 
        height: 60px;  
        padding: 10px 0; 
        padding-left: 10px;
    }
    .icon-text-s {
        display: inline-block;
        padding: 10px 0;
        align-self: center;
    }

    a {
        display: block;
        color: grey;
        text-decoration: none;
        align-self: center;
    }
    a:hover .icon-nav-s{
        border-left: 2px solid lime;
        
    }

    .icon-nav-s {
       height: 30px;
       filter: invert(0.4);
       padding-left: 10px;

       vertical-align: middle;

    }

    #logo-small {
        display: none;
    }

    
}