/*! Media query S !*/
@media screen and (min-width: 576px) {
    .col-nav-s {
        width: 180px;
    }
    .home-page-s {
        flex-basis: calc(100% - 180px);
    }
    .top-bar-s {
        width: calc(100% - 180px);
    }

    .row-nav-bar-s {
        align-items: flex-start;
    }
    .row-nav-bar-s .text-icon-s, .row-nav-bar-s a{
        display: inline;
    }

    .row-nav-bar-s img {
        height: 26px;
        width: 26px;
        vertical-align: middle;

    }
    .row-nav-bar-s li {
        list-style-type: none;
    }

    .row-nav-bar-s a {
        text-decoration: none;
        color: #d2d2d2;
        font-size: 12px;
        font-weight: 600;
        line-height: 30px;
        
    }

    .row-nav-bar-s .text-icon-s {

    }
  
    
}