/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* UTILITY */
/** Color **/
.bg-black {
    background-color: black;
}
.bg-grey {
    background-color: grey;
}
.bg-darkblue {
    background-color: darkblue;
}
.bg-transparent-blue {
    background-color: rgba(0, 0, 225, 0.7)
}

/** Box-position **/
.p-relative {
    position: relative;
    z-index: 1;
}

/* BODY */
/** Nav section **/
.col-nav-xs { 
    height: calc(100vh - 60px);
    width: 50px;
    overflow: auto;
}

/*! Media query S !*/
@media screen and (min-width: 576px) {
    .col-nav-s {
        max-width: 100px;
    }

    .home-page-s {
        max-width: calc(100vw - 100px);
    }

    .top-bar-s {
        max-width: calc(100vw - 100px);
    }     
}

/** Icons Nav section **/
.row.icon-nav-bar {
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}





/** Home-page section **/
.home-page-xs {
    height: calc(100vh - 60px);
    width: calc(100vw - 50px);
    overflow: auto;
}


/** Header section **/
.top-bar-xs {
    height: 40px;
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100vw - 50px);
}


/** Main section **/



/** Footer section **/
.footer-col {
    height: 60px;   
}