/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
}

/* UTILITY */
/** Color **/
.bg-black {
    background-color: black;
}
.bg-grey {
    background-color: grey;
}
.bg-darkblue {
    background-color: darkblue;
}
.bg-transparent-blue {
    background-color: rgba(0, 0, 225, 0.7)
}

/** Box-position **/
.p-relative {
    position: relative;
    z-index: 1;
}

/* BODY */
/** Nav section **/
.col-nav-xs { 
    height: calc(100vh - 60px);
    width: 50px;
}


/** Icons Nav section **/






/** Home-page section **/
.home-page-xs {
    height: calc(100vh - 60px);
    flex-basis: calc(100% - 60px);
    /* flex-grow: 1; */
    overflow: scroll;
}


/** Header section **/
.top-bar-xs {
    width: calc(100% - 50px);  
    height: 40px;
    position: fixed;
    top: 0;
    right: 0;
}


/** Main section **/



/** Footer section **/
.footer-col {
    height: 60px;   
}