/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* UTILITY */
/** Color **/
.bg-black {
    background-color: black;
}
.bg-grey {
    background-color: grey;
}
.bg-darkblue {
    background-color: darkblue;
}
.bg-transparent-blue {
    background-color: rgba(0, 0, 225, 0.7)
}

/** Box-position **/
.p-relative {
    position: relative;
    z-index: 1;
}

/* BODY */
/** Nav section **/
.col-nav-xs { 
    height: calc(100vh - 60px);
    width: 50px;
}


/** Icons Nav section **/
.nav-bar {
    position: relative;
}

.icon-top-nav-bar {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
} 

.icon-bottom-nav-bar {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

}

.logo-xs {
    display: none;
}

.icon-text-xs {
    display: none;
}

.icon-nav-xs, #logo-small {
    min-height: 5px;  
}






/** Home-page section **/
.home-page-xs {
    height: calc(100vh - 60px);
    width: calc(100vw - 50px);
    overflow: auto;
}


/** Header section **/
.top-bar-xs {
    height: 40px;
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100vw - 50px);
}


/** Main section **/



/** Footer section **/
.footer-col {
    height: 60px;   
}